@using System.Configuration
@using BusinessSafe.WebSite.AuthenticationService
@using BusinessSafe.WebSite.Extensions
@using BusinessSafe.WebSite.HtmlHelpers
@model BusinessSafe.WebSite.Areas.PersonalRiskAssessments.ViewModels.PersonalRiskAssessmentSummaryViewModel
<h2>
    <a class="btn" href="@Url.Action("Index", "RiskAssessment", new { area = "PersonalRiskAssessments", companyId = @Html.GetUsersCompanyId(User) })" title="Close Risk Assessment"><i class="icon-remove"></i></a>
    @if (FeatureSwitchChecker.Enabled(FeatureSwitches.FeatureSwitch_SqlReports_For_PRA, User.GetCustomPrinciple()))
    {
    <a class="btn" href="@Url.Action("Index", "PersonalRiskAssessments", new { area = "SqlReports", riskAssessmentId = Model.Id })" title="Print Personal Risk Assessment"><i class="icon-print"></i></a>
    }
    
    @if (Model.IsEditEnabled(User) && !Model.IsArchived)
    {
    <a id="edit" class="btn" href="@Url.Action("Index", @ViewBag.CurrentController, new { riskAssessmentId = Model.Id, companyId = @Html.GetUsersCompanyId(User) })" title="Edit Risk Assessment"><i class="icon-edit"></i></a>
    }
    Personal Risk Assessment
    @Html.Partial("_AssessmentStatus", Model.RiskAssessmentStatus)
</h2>