@model BusinessSafe.WebSite.Areas.HazardousSubstanceInventory.ViewModels.AddEditHazardousSubstanceViewModel
<fieldset>
    <legend><h3>Risk and Safety Phrases</h3></legend>
    <div class="row">
        <div class="span2">
            @Html.LabelFor(m => m.SelectedRiskPhrases, "Risk Numbers & Phrases")
        </div>
        <div id="risk-phrase-multi-select" class="search-and-multi-select">
            <div class="row">
                <input type="text" name="Search" class="search input-xlarge" placeholder="Search for a Risk Phrase" /></div>
            <div class="row">
                <ul class="available-options options span4 offset2">
                    @foreach (var option in Model.RiskPhrases)
                    {
                        <li class="@option.HazardousSubstanceStandard.ToString()" data-value="@option.Id" >@option.ReferenceNumber
                            @option.Title</li>
                    }
                </ul>
                <div class="span1 span1fix">
                    <input type="button" class="add-to-selected btn" value="&gt;" />
                    <input type="button" class="remove-from-selected btn" value="&lt;" />
                </div>
                <select id="RiskPhraseIds" name="RiskPhraseIds" class="selected-options options span4"
                        multiple="multiple">
                    @foreach (var option in Model.RiskPhrases.Where(x => Model.SelectedRiskPhrases.Contains(x.Id)))
                    {
                        <option data-value="@option.Id" value="@option.Id">@option.ReferenceNumber @option.Title</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            @Html.LabelFor(m => m.SelectedSafetyPhrases, "Safety Numbers & Phrases")
        </div>
        <div id="safety-phrase-multi-select" class="search-and-multi-select">
            <div class="row">
                <input type="text" name="Search" class="search input-xlarge" placeholder="Search for a Safety Phrase" /></div>
            <div class="clearBoth">
            </div>
            <div class="row">
                <ul class="available-options options span4 offset2">
                    @foreach (var option in Model.SafetyPhrases)
                    {
                        <li class="@option.HazardousSubstanceStandard.ToString()" data-value="@option.Id" data-requires-additional-information="@option.RequiresAdditionalInformation" >@option.ReferenceNumber
                            @option.Title</li>
                    }
                </ul>
                <div class="span1 span1fix">
                    <input type="button" class="add-to-selected btn" value="&gt;" />
                    <input type="button" class="remove-from-selected btn" value="&lt;" />
                </div>
                <select id="SafetyPhraseIds" name="SafetyPhraseIds" class="selected-options options span4"
                        multiple="multiple">
                    @foreach (var option in Model.SafetyPhrases.Where(x => Model.SelectedSafetyPhrases.Contains(x.Id)))
                    {
                        <option data-value="@option.Id" value="@option.Id">@option.ReferenceNumber @option.Title</option>
                    }
                </select>
            </div>
        </div>
    </div>
    @Html.Partial("_SafetyPhraseAdditionalInformation", Model)
</fieldset>
