@using Cassette.Views
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StyleSheetSection
{
    @RenderSection("StyleSheetSection", false)
}
<section id="accident-reporting">
    <span class="legend">Accident Records</span>
    <div class="content">
        <div class="tabs">
            @RenderBody()
        </div>
    </div>
   @Html.Hidden("MarkAccidentRecordStatusUrl", Url.Action("UpdateStatus", "AccidentRecordStatus", new { area = "" }))
</section>
@section JavaScriptSection
{
    @{
        Bundles.Reference("accidentReporting");
        @Bundles.RenderScripts()  
        
    }
    @RenderSection("JavaScriptSectionForPageInitialisation", false)
    @if (ViewBag.IsReadOnly != null)
    {
        @Html.Hidden("IsReadOnly", true)
    }

}
    @RenderSection("JavaScriptSection", false)
    
  