@using BusinessSafe.WebSite.AuthenticationService
@using BusinessSafe.WebSite.Extensions
@using Cassette.Views
@model BusinessSafe.WebSite.ViewModels.SearchRiskAssessmentsViewModel
@{
    ViewBag.Title = "Personal Risk Assessments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <span class="legend">Personal Risk Assessments</span>
    <div class="major-index-actions">
        @if (User.IsInRole(Permissions.AddGeneralandHazardousSubstancesRiskAssessments.ToString()))
        { 
            <a id="AddNewRiskAssessmentLink" class="btn btn-success btn-large" href="@Url.Action("Create", "RiskAssessment", null)" title="Add New Personal Risk Assessment">
                Add New Risk Assessment</a> 
        }
    </div>
    <div class="content">
        <div class="well">
            @using (Html.BeginForm("Index", "RiskAssessment", FormMethod.Get, new { @class = "search-form" }))
            {
                @Html.Partial("_SearchRiskAssessmentFormFieldset", Model)
            }
        </div>
        @Html.Partial("_PRASearchResults", Model)
    </div>
</section>
<div class="hide">
    <div id="dialogDeleteRiskAssessmentWithAssociatedTasks" title="<span id='warning'></span>Cannot Delete Personal Risk Assessment!">
        <p>
            This personal risk assessment has tasks associated with it which will also be deleted.
            Are you sure you want to delete this personal risk assessment?</p>
    </div>
    <div id="dialogDeleteRiskAssessment" title="Delete Personal Risk Assessment">
        <p>
            Are you sure you want to delete this personal risk assessment?</p>
    </div>
    <div id="dialogUnDeleteRiskAssessment" title="Reinstate Personal Risk Assessment">
        <p>
            Are you sure you want to reinstate this personal risk assessment?</p>
    </div>
</div>

@section JavaScriptSection
{
    @{
        Bundles.Reference("sharedriskassessment");
        @Bundles.RenderScripts()  
    }
    <script type="text/javascript">
        $(function () {
            var sites = @Html.Raw(Json.Encode(Model.Sites));
            var siteGroups = @Html.Raw(Json.Encode(Model.SiteGroups));
            riskAssessmentsSearch.initialise(personalRiskAssessmentsViewModel, siteGroups, sites);
        });
    </script>
}
