@using BusinessSafe.WebSite.AuthenticationService
@using BusinessSafe.WebSite.Extensions
@using BusinessSafe.WebSite.Helpers
@using Telerik.Web.Mvc.UI
@model BusinessSafe.WebSite.Areas.Documents.ViewModels.BusinessSafeSystemDocumentsLibraryViewModel
<h2><span id="tick"></span>Business Safe System Documents
    <a class="btn" href="@Url.Action("ShowEvaluationReports", "BusinessSafeSystemDocumentsLibrary", new { companyId = @Html.GetUsersCompanyId(User)})" title="Show Evaluation Reports">Show Evaluation Reports</a>
    <a class="btn" href="@Url.Action("ShowManagementSystemReports", "BusinessSafeSystemDocumentsLibrary", new { companyId = @Html.GetUsersCompanyId(User) })" title="Show Management System Reports">Show Management System Reports</a>
 </h2>
    @Html.Telerik().Grid(Model.Documents).Name("DocumentsGrid").DataKeys(keys => keys.Add(d => d.Id)).DataBinding(dataBinding => dataBinding.Server()).Columns(columns =>
{
    columns.Bound(o => o.Id).HeaderTemplate("Id").Visible(false);
    columns.Bound(o => o.DocumentType).Title("Document Type").Width(200);
    columns.Bound(o => o.Title).Title("Title").Width(400);
    columns.Bound(o => o.SiteReference).Title("Site").Width(400);
    columns.Bound(o => o.DateUploaded).Format("{0:dd/MM/yyyy}").Title("Date Uploaded").Width(120);
    columns.Template(
        @<text>
    @if (User.IsInRole(Permissions.ViewAddedDocuments.ToString()))
    {
        <a class="ViewDocumentIconLink icon-search" href="@Url.Action("DownloadClientDocument", "Document", new { enc = EncryptionHelper.Encrypt("clientDocumentId=" + item.Id + "&filenameWithoutExtension=" + Server.UrlEncode(item.Title)) })" target="_blank" title="View Document"></a>
        <a class="PrintDocumentIconLink icon-print" href="@Url.Action("DownloadClientDocument", "Document", new { enc = EncryptionHelper.Encrypt("clientDocumentId=" + item.Id + "&filenameWithoutExtension=" + Server.UrlEncode(item.Title)) })" target="_blank" title="Print Document"></a>
    }
    @if (Model.IsDeleteDocumentEnabled(User, item))
    {
        <a class="DeleteDocumentIconLink" href="#"title="Delete Document" data-id="@item.Id"><i class="icon-remove"></i></a>
    }
    </text>).Width(165);
}).Pageable(page => page.PageSize(10)).Sortable()
