@model BusinessSafe.MessageHandlers.Emails.ViewModels.TaskOverdueViewModel
<head>
    <style>
        body
        {
            background-color: white;
            font-size: .85em;
            font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
            margin: 0;
            padding: 0;
            color: #393939;
        }
        
        h1
        {
            font-size: 2em;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <h1>
        BusinessSafe Online - @Model.Subject
    </h1>
    <p>
        The completion date for @Model.TaskTypeDescription Task has passed 
    </p>
    <p>
       Reference: @Model.TaskReference
    </p>
    <p>
        Title: @Model.Title
    </p>
    <p>
        Description: @Model.Description
    </p>
    <p>
        Assigned By: @Model.RiskAssessor
    </p>
    <p>
        The @Model.TaskTypeDescription Task should have been completed by @Model.TaskCompletionDueDate. As this task has not been completed, it is now overdue. To view and complete the task, please log into BusinessSafe Online on the following link.   @Model.BusinessSafeOnlineLink
    </p>
</body>
