@model BusinessSafe.WebSite.Areas.GeneralRiskAssessments.ViewModels.FurtherActionTask

        <tr>
            <td>@Html.DisplayFor(x => x.Reference)</td>
            <td>@Html.DisplayFor(x => x.Title)</td>
            <td>@Html.DisplayFor(x => x.Description)</td>
            <td>@Html.DisplayFor(x => x.FurtherActionTaskAddedToRiskAssessment)</td>
            <td>@Html.DisplayFor(x => x.CompletionDueDate)</td>
        </tr>