@using BusinessSafe.WebSite.Areas.HazardousSubstanceRiskAssessments.ViewModels
@model DescriptionViewModel
@{
    ViewBag.Title = "Description";
}
@Html.Partial("_RiskAssessmentSummary", ViewBag.RiskAssessmentSummary as HazardousSubstanceSummaryViewModel)
@Html.Hidden("SelectedTabIndex", 1)
@Html.HiddenFor(x => x.CompanyId)
@Html.HiddenFor(x => x.RiskAssessmentId)
<div class="container tabs ipad-container">
    
    @{
        var hazardousSubstanceRiskAssessmentTabViewModel = ViewBag.TabViewModel as HazardousSubstanceRiskAssessmentTabViewModel;
    }

    @Html.Partial("_Tabs", hazardousSubstanceRiskAssessmentTabViewModel)
    <div class="fixed-content">
        @Html.Partial("_TitleBar", ViewBag.RiskAssessmentSummary as HazardousSubstanceSummaryViewModel)
        @Html.Partial("_Form")
    </div>
</div>
@section JavaScriptSection {
    <script type="text/javascript">
    $(document).ready(function (){
        BusinessSafe.HazardousSubstance.Description();
    });
    </script>
}
