@using System.Web.Mvc.Html
@using Cassette.Views
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StyleSheetSection
{
    @RenderSection("StyleSheetSection", false)
}
<section>
    <span class="legend">Fire Risk Assessments</span>
    <div class="content">
        <div class="tabs">
            @Html.Partial("_AdviceLine")
            @RenderBody()
        </div>
    </div>
</section>
@Html.Hidden("MarkRiskAssessmentDraftStatusUrl", Url.Action("MarkRiskAssessmentIsDraftStatus", "RiskAssessmentStatus", new { area = "" }))
@section JavaScriptSection
{
    @{
        Bundles.Reference("sharedriskassessment");
        Bundles.Reference("fireriskassessment");
        @Bundles.RenderScripts()  
    }

    @if (ViewBag.IsReadOnly != null)
    {
        @Html.Hidden("IsReadOnly", true)
    }
    
    @RenderSection("JavaScriptSection", false)

    
}
