@using System.Configuration
@using BusinessSafe.WebSite.Extensions
@using BusinessSafe.WebSite.HtmlHelpers
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title</title>
        @{
            Bundles.Reference("core");
        }
    
        <!--[if (lte IE 8)]>
            <script type="text/javascript" src="/Scripts/Libraries/modernizr-2.5.3.js"></script>
            <script type="text/javascript" src="/Scripts/Libraries/selectivizr.js"></script>
        <![endif]-->
    
        <!--[if (IE 8)]>
            <link rel="stylesheet" href="/Content/themes/bso_v1.5/ie8.css" />    
        <![endif]-->
    
        <!--[if (IE 7)]>
            <link rel="stylesheet" href="/Content/themes/bso_v1.5/ie7.css" />    
        <![endif]-->
    
        @RenderSection("StyleSheetSection", false)
    
        @Bundles.RenderStylesheets()
    </head>

<body>
    @Html.Partial("_BusinessSafeCookie")
    @Html.Partial("_ImpersonatingUserIndicator")
    <div class="container-fluid" id="siteContainer">
        <!-- Header -->
        <header class="container-fluid">
            <img src="@Url.Content("~/Content/themes/bso_v1.5/images/logo.png")" alt="BusinessSafe Logo" id="logo" />
            <div id="WelcomeBar">
                <span>Welcome: <strong>@Html.GetLoginName()</strong></span>, @Html.GetLoginCompanyName()
                @Html.ActionLink("Logout", "LogOut", "Account", new { area = "" }, new { id = "LogOutLink", @class = "" })
            </div>
        </header>
        @(Html.Partial("_Menu"))
    </div>
    <div class="container-fluid" id="main">
        @RenderBody()
    </div>
    <footer>
        <p>
            Copyright &copy; 2013 &ndash; Peninsula Business Services</p>
        <ul>
            <li><a href="@Url.Action("Index", "TermsOfService", new { area = "TermsAndConditions" })">Terms of Service</a></li>            
            <li><a href="@Url.Action("Index", "DataProtectionPolicy", new { area = "TermsAndConditions" })">Business Safe Online Data Protection Policy</a></li>
            <li>
                <a href="@Url.Action("Index", "ContactUs", new { area = "Contact" })">Contact Us</a>
            </li>
            <li>version: @(ConfigurationManager.AppSettings["Version"])</li>
        </ul>
    </footer>
    @Html.Partial("_globalajaxurls")
    @{
        Bundles.Reference("jquery");
        Bundles.Reference("bootstrap");
        Bundles.Reference("microsoft");
        Bundles.Reference("application");  
    }
    @RenderSection("JavaScriptSection", false)
    <script type="text/javascript">
        $(function () {
            @if (ViewBag.IsReadOnly == null)
            {
                <text>initialiseCalendar();</text>
            }
            @if (Html.IsDebug())
            {
                <text>
                     window.debugErrorHandler = true;
                </text>
            }

            logoutWarningTimerReset();
        });
    </script>
    
    @if(Html.ShouldTrackAnalytics())
    {
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39413730-1']);
        _gaq.push(['_setSiteSpeedSampleRate', 60]); //set sample rate to 60%. BSO average 2-3k page views as of 03/01/2014. Therefore, approx 1500 pageviews will be sampled
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>    
    }
</body>
</html>
