@using System.Globalization
@using BusinessSafe.WebSite.Helpers
@model BusinessSafe.WebSite.Areas.Documents.ViewModels.NewlyAddedDocumentGridRowViewModel
<tr>
    <td class="filename">
        @Html.Hidden("DocumentGridRow_" + Model.DocumentLibraryId.ToString() + "_DocumentLibraryId", Model.DocumentLibraryId)
        @Html.Hidden("DocumentGridRow_" + Model.DocumentLibraryId.ToString() + "_FileName", Model.Filename)
        @Html.Hidden("DocumentGridRow_" + Model.DocumentLibraryId.ToString() + "_DocumentOriginTypeId", Model.DocumentOriginTypeId)
        
        <a href="@Url.Action("DownloadPublicDocument", "Document", new { enc = EncryptionHelper.Encrypt("DocumentLibraryId=" + @Model.DocumentLibraryId.ToString(CultureInfo.InvariantCulture)) })">
            @Model.Filename
        </a>
    </td>
    <td class="doc-type">
        @if (Model.CanEditDocumentType)
        {
            @Html.DropDownList("DocumentGridRow_" + Model.DocumentLibraryId.ToString(CultureInfo.InvariantCulture) + "_DocumentType", Model.DocumentTypes, new { style = "width:150px;" })
        }
        else
        {
            @Html.Hidden("DocumentGridRow_" + Model.DocumentLibraryId.ToString(CultureInfo.InvariantCulture) + "_DocumentType",  Model.DocumentTypeId)
            @Html.DropDownList("DocumentGridRow_" + Model.DocumentLibraryId.ToString(CultureInfo.InvariantCulture) + "_DocumentType", Model.DocumentTypes, new { disabled = "disabled", style = "width:150px;" })
        }
    </td>
    <td class="doc-origin">
        @Html.TextBox("DocumentGridRow_" + Model.DocumentLibraryId.ToString(CultureInfo.InvariantCulture) + "_Description")
    </td>
    <td class="delete">
        <a href="#" class="deleteNewlyAddedDocument" id="DeleteNewlyAddedDocumentLink">
            @Html.Hidden("DeleteArgument", EncryptionHelper.Encrypt("DocumentLibraryId=" + @Model.DocumentLibraryId.ToString(CultureInfo.InvariantCulture)))
            <i class="icon-remove" /></a>
    </td>
</tr>