@using BusinessSafe.WebSite.AuthenticationService
@using BusinessSafe.WebSite.Extensions
@using NHibernate.Engine
@using NHibernate.Type
@using Telerik.Web.Mvc.UI
@using BusinessSafe.WebSite.Extensions
@model BusinessSafe.WebSite.Areas.AccidentReports.ViewModels.AccidentRecordsIndexViewModel

<h2>
    <a  id="showDeleted" class="btn">@(Model.IsShowDeleted ? "Show Outstanding" : "Show Deleted")</a>
    <span class="tick"></span>Accident Records
</h2>

@Html.Telerik().Grid(Model.AccidentRecords).Name("AccidentRecordsGrid").PrefixUrlParameters(false).EnableCustomBinding(true).DataKeys(keys => keys.Add(c => c.Id)).DataBinding(dataBinding =>
    dataBinding.Server().Select("Index", "Search")).Columns(
    columns =>
    {
        columns.Bound(o => o.Id).Visible(false);
        columns.Bound(o => o.Reference);
        columns.Bound(o => o.Title);
        columns.Bound(o => o.Description);
        columns.Bound(o => o.InjuredPerson).Title("Injured Person");
        columns.Bound(o => o.Severity);
        columns.Bound(o => o.Site);
        columns.Bound(o => o.ReportedBy).Title("Reported By");
        columns.Bound(o => o.Status);
        columns.Bound(o => o.DateOfAccident).Title("Date of Accident");
        columns.Bound(o => o.DateCreated).Title("Date Created");
        columns.Template(@<text>
                              <a data-id="@item.Id" class="icon-search" href="@Url.Action("View", "Summary", new {area = "AccidentReports", accidentRecordId = @item.Id, companyId = @Html.GetUsersCompanyId(User)})" title="View Risk Assessment"></a>
                    
                              @if (!item.IsDeleted)
                              {
                                  if (User.IsInRole(Permissions.EditAccidentRecords.ToString()))
                                   {
                                       <a data-id="@item.Id" class="icon-edit" href="@Url.Action("Index", "Summary", new {accidentRecordId = item.Id, companyId = @Html.GetUsersCompanyId(User)})" title="Edit Accident Record">
                                           <i class="icon-edit"></i>
                                       </a>
                                   }
                                   if (User.IsInRole(Permissions.ViewAccidentRecords.ToString()))
                                   {
                                       <a  data-id="@item.Id" class="icon-print" href="@Url.Action("Pdf", "AccidentRecord", new { area = "SqlReports", accidentRecordId = @item.Id })" title="Print Accident Record">
                                           <i class="icon-print"></i>
                                       </a>
                                  }      
                                  if (User.IsInRole(Permissions.DeleteAccidentRecords.ToString()))
                                   {
                                       <a data-id="@item.Id" class="icon-remove" href="" title="Delete Accident Record">
                                           <i class="icon-remove"></i>
                                       </a>
                                   }
                              }
                          </text>);
    }).Pageable(page =>
    {
        page.PageSize(Model.Size);
        page.Total(Model.Total);
    }).Sortable()